@import 'partials/variables';
@import 'partials/mixins';

.landingContainer {
    background-image: url('../src/images/feather-transparent.png');
    width: 100%;
    max-width: 1500px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 500px;

    h1 {
        font-size: 5em;
        margin: 0;
        padding: 0;
        text-align: center;
        @include center(-50%, -150%);
        font-family: $h-font;
        font-weight: lighter;
    }
    
    .title {
        font-size: 3em;
        margin: 0;
        padding: 0;
        text-align: center;
        @include center(-50%, -80%);
        font-family: 'Cinzel', serif;
        font-weight: lighter;
    }
    
    .ampersand {
        font-size: .8em;
        color: $r-color;
    }
    
    .logo {
        @include center(-50%, 40%);
        width: 200px;
        height: auto;
    }
}

// ==== Media Queries ====
@include tablet {
    .landingContainer {
        height: 200px;

        h1 {
            font-size: 3em;
            @include center(-50%, -150%);
        }

        .title {
            font-size: 2em;
        }

    }
}

@include mobile {
    .landingContainer {
        height: 150px;

        h1 {
            @include center(-50%, -90%); 
        }
        .title {
            @include center(-50%, 60%);
            padding-left: 15px;
        }

        .logo {
            width: 130px;
            height: auto;
            @include center(-50%, 130%);
        }
    }
}