// ==== Positioning ====
@mixin center($x, $y) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate($x, $y)
}

// ==== Buttons ====
@mixin button($pad1, $pad2) {
    outline: none;
    border: none;
    cursor: pointer;
    display: block;
    position: relative;
    background-color: $r-color;
    color: $main-bg-color;
    font-size: 20px;
    font-weight: 300px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: $h-font;
    padding: $pad1 $pad2;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 6px $r-color-shadow;
}

// ==== Media Queries ====

@mixin tablet() {
    @media screen and (max-width: 768px) {
        @content
    }
};

@mixin mobile() {
    @media screen and (max-width: 425px) {
        @content
    }
}