// ==== Colors ====
$main-bg-color: rgb(235, 235, 235);
$nav-color: white;
$r-color: rgb(189, 4, 41);
$r-color-shadow: rgb(43, 0, 0);

// ==== Fonts ====
$nav-font: 'Nanum Gothic', sans-serif; 
$h-font: 'Cinzel', serif;
$text-font: 'Montserrat', serif;
$nav-font: 'Quicksand', sans-serif;