@import 'partials/variables';
@import 'partials/mixins';

.aboutContainer {
    background-image: url('../src/images/black-background1.jpg');
    background-size: cover;
    color:$main-bg-color;
    height: 300px;
    font-family: $text-font;
    font-weight: lighter;
    font-size: 1.6em;
    padding: 100px 100px 200px 100px;
    // padding-right: 100px;
    // padding-bottom: 200px;
    // padding-top: 100px;

    .brand {
        font-family: $h-font;
        font-size: 1.2em;
    }
    
    span {
        padding-top: 100px;
    }

    a {
        text-decoration: none;
    }

    .quoteButton {
        @include button(10px,40px);
    }

    .quoteButton:hover {
        box-shadow: 0 4px $r-color-shadow;
        top: 2px;
    }

    .quoteButton:active {
        box-shadow: none;
        top: 6px;
    }
}

// ==== Media Queries ====
@include tablet {
    .aboutContainer {
        height: 500px;
        padding-top: 75px;
        padding-bottom: 100px;
    }
}

@include mobile {
    .aboutContainer {
        font-size: 1em;
        padding-top: 10px;
        padding-left: 60px;
        padding-right: 60px;
        height: 400px;

        p {
            margin-top: 50px;
        }

        .quoteButton {
            @include button(10px, 30px);
        }
    }
}