@import 'variables';
@import 'mixins';

.aboutContainer {
    background-image: url('../src/images/black-background1.jpg');
    background-size: cover;
    color:$main-bg-color;
    height: 300px;
    font-family: $text-font;
    font-weight: lighter;
    font-size: 1.6em;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 200px;

    .brand {
        font-family: $h-font;
        font-size: 1.2em;
    }
    hr {
        border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(204, 36, 36, 0.75), rgba(0, 0, 0, 0));
    margin-bottom: 100px;

    }

    a {
        text-decoration: none;
    }

    .quoteButton {
        @include button;
    }

    .quoteButton:hover {
        box-shadow: 0 4px $r-color-shadow;
        top: 2px;
    }

    .quoteButton:active {
        box-shadow: none;
        top: 6px;
    }
}