@import 'partials/variables';
@import 'partials/mixins';

.landingContainer {
    background-image: url('../src/images/feather-transparent.png');
    widows: 100%;
    height: 350px;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 500px;

    @media screen and (max-width: 1000px){
        background-image {
            width: 100%;
        }
    }
}

h1 {
    font-size: 5em;
    margin: 0;
    padding: 0;
    text-align: center;
    @include center(-50%, -150%);
    font-family: $h-font;
    font-weight: lighter;
}

.title {
    font-size: 3em;
    margin: 0;
    padding: 0;
    text-align: center;
    @include center(-50%, -80%);
    font-family: 'Cinzel', serif;
    font-weight: lighter;
}

.ampersand {
    font-size: .8em;
    color: $r-color;
}

.landingLogo {
    @include center(-50%, 0);
}