@import 'partials/variables';
@import 'partials/mixins';

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    background: $nav-color;
    opacity: 0.9;
    filter: alpha(opacity=90);
    z-index: 99999;

}

.navContainer {
    a {
        text-decoration: none;
    }

    ul {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: flex-end;
    }

    li {
        color: crimson;
        display: block;
        padding: 10px;
        text-transform: capitalize;
        font-family: $nav-font;
        font-size: 1.2em;
    }

    li:hover {
        color: black;
    }
}


// === Media Queries ==== 

@include mobile {
    nav ul {
        display: flex;
        justify-content: space-around;
    }
}